###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

publish-appimage* text eol=lf
